$background-color: #ffffff;
$color: #222222;

html, body {
	background-color: $background-color;
	color: $color;
	font-family: sans-serif;
	margin: 0;
}

.container {
	margin: 0 10%;
}

a {
	color: #5555dd;

	&:hover, &:focus {
		color: #9933dd;
	}

	&:active {
		color: #2222ee;
	}
}

h1, h2, h3, h4 {
	font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
	font-size: 2.2em;
}

h2:first-child {
  margin-top: 15px;
}

h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 45px;
}

h4 {
	font-size: 1.1em;
    margin-bottom: 5px;
}

h3 ~ h4 {
  margin-top: 0;
}

h4 ~ p {
  margin-top: 0;
}

p {
  text-align: justify;
}

li {
  margin: 10px 0;
}

.header {
	border-bottom: 1px solid darken($background-color, 25);
	padding: 15px;
}

.header h1 {
	margin: 0;
	text-align: center;
}

.content-category {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}