@import models.graph.ontology.relation.Relation
@import controllers.ontology.RelationManager
@import models.graph.ontology.Concept

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  Yo!
    @helper.form(action = controllers.ontology.routes.RelationManager.create()) {
      @helper.input(RelationManager.relationForm("concept1_id")) { (id, name, value, args) =>
        <select name="@name" id="@id">
        @for(concept <- Concept.findAll){
          <option value="@concept.id">@concept.label</option>
        }
        </select>
      }
      @helper.input(RelationManager.relationForm("existing_label")) { (id, name, value, args) =>
        <select name="@name" id="@id">
        @for(relation <- Relation.DBGraph.getAll){
          <option value="@relation.label">@relation.label</option>
        }
        </select>
      }
      @helper.input(RelationManager.relationForm("new_label")) { (id, name, value, args) =>
        <input type="text" name="@name" id="@id" value="">
      }
      @helper.input(RelationManager.relationForm("concept2_id")) { (id, name, value, args) =>
        <select name="@name" id="@id">
        @for(concept <- Concept.findAll){
          <option value="@concept.id">@concept.label</option>
        }
        </select>
      }
      @helper.checkbox(RelationManager.relationForm("is_action"))

      <input type="submit">
    }
</body>
</html>