<div class="form">
    <div class="form-field">
        <div class="form-field__legend--single page-title">
            <h2>Welcome to the graph editor</h2>
            <a href="/map">Show map</a>
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__legend--single">
            <h3>Managing concepts</h3>
        </div>
        <div class="form-group highlight">
            <div class="form-group">
                <h3 class="form-field__legend align-right">
                    <a href="#/node/new">Create</a>
                </h3>
                <p class="form-field__description">
                    Allows you to create a entirely new item in your world
                </p>
            </div>
            <div class="form-group">
                <form ng-submit="search_node()">
                    <div class="form-group__label">
                        <button>Search</button>
                    </div>
                    <div class="form-group__input">
                        <input
                                type="text"
                                id="node_search"
                                name="node_search"
                                ng-model="node_search"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__legend--single">
            <h3>Managing relations</h3>
        </div>
        <div class="form-group highlight">
            <div class="form-group">
                <form ng-submit="search_relation()">
                    <div class="form-group__label">
                        <button>Search</button>
                    </div>
                    <div class="form-group__input">
                        <input
                                type="text"
                                id="relation_search"
                                name="relation_search"
                                ng-model="relation_search"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__legend--single">
            <h3>Managing properties</h3>
        </div>
        <div class="form-group highlight">
            <h4 class="form-group__label--single align-center">
                <a href="/properties">Managing properties</a>
            </h4>
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__legend--single">
            <h3>Managing actions</h3>
        </div>
        <div class="form-group highlight">
            <h4 class="form-group__label--single align-center">
                <a href="/actions">Managing actions</a>
            </h4>
        </div>
    </div>
</div>