@main("Graph vizualisation") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/graph.css")" />

    <div ng-app="graphEditor" class="graph-container">
        <div class="graph-row">
            <div class="graph-view" ng-controller="ViewerController">
                <div class="alchemy" id="alchemy"></div>
                <div class="view-options">
                    <form class="form">
                        <div class="form-group">
                            <label for="search" class="form-label">Profondeur :</label>
                            <input class="form-input" id="search" type="number" ng-model="deepness" value="1" min="1" max="3" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="graph-form">
                <div class="title" ng-controller="SearchController">
                    <form class="form" ng-submit="launchSearch()">
                        <div class="form-group">
                            <label for="search" class="form-label">Search :</label>
                            <input class="form-input" id="search" type="text" ng-model="search" />
                        </div>
                    </form>
                    <div class="error">
                        <p>{{ error }}</p>
                    </div>
                </div>
                <div ng-controller="EditNodeController">
                    <div ng-hide="isShowingNode()">
                        <h4>No node selected</h4>
                        <ul>
                            <li ng-repeat="node in displayedNodes">{{ node.id }} : {{ node.label }}</li>
                        </ul>
                    </div>
                    <div ng-show="isShowingNode()" class="table">
                        <h4>{{ nodeSelected.label }}</h4>
                        <div>
                            Properties :
                            <ul>
                                <li ng-repeat="property in nodeSelected.properties">{{ property.label }} : {{ property.defaultValue }}</li>
                            </ul>
                        </div>
                        <div>
                            Rules :
                            <ul>
                                <li ng-repeat="element in nodeSelected.rules">{{ element.property.label }} : {{ element.value }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("components/angular/angular.min.js")" ></script>
    <script src="@routes.Assets.at("components/angular-resource/angular-resource.min.js")" ></script>
    <script src="@routes.Assets.at("components/lodash/dist/lodash.js")" ></script>
    <script src="@routes.Assets.at("components/d3/d3.js")" ></script>
    <script src="@routes.Assets.at("components/alchemyjs/dist/alchemy.js")" ></script>
    <script src="@routes.Assets.at("javascripts/graph-script.js")" ></script>
}
