<div class="form-field">
    <div class="form-field__legend--single">
        <a href="{{ back_url }}">Go back</a>
    </div>
</div>

<form class="form" name="relationForm">
    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend--single">General</h3>
        </div>
        <div class="form-group highlight">
            <div class="form-group">
                <label class="form-group__label" for="relation_name">Name:</label>
                <div class="form-group__input">
                    <select
                            name="relation_type"
                            id="relation_type"
                            ng-model="relation.type"
                            ng-options="type for type in relationTypes"></select>
                    <input
                            type="text"
                            id="relation_name"
                            name="relation_name"
                            ng-model="relation.label" />
                </div>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="form-submit" ng-click="submitRelation()">{{ submit_button }}</button>
</form>