<div class="form-field">
    <div class="form-field__legend--single">
        <a href="#/overview">Go back</a>
    </div>
</div>

<div ng-show="!isShowingRelation()">
    <div class="form-field">
        <div class="form-field__legend--single">
            <h2>{{ message }}</h2>
        </div>
    </div>
</div>

<div ng-show="isShowingRelation()" class="form">
    <div class="form-field">
        <div class="form-field__legend--single">
            <h2>{{ relation.label }}</h2>
            - <a href="#/relation/{{relation.label}}/edit">Edit</a>
            - <a href="#/relation/{{relation.label}}/delete">Delete</a>
        </div>
    </div>

    <div class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend--single">Existing relations :</h3>
        </div>
        <div ng-repeat="conceptRelation in conceptRelations" class="form-group highlight">
            <div class="form-field__legend--single">
                <a href="#/node/{{conceptRelation.source.label}}">{{ conceptRelation.source.label }}</a> -> <a href="#/node/{{conceptRelation.target.label}}">{{ conceptRelation.target.label }}</a>
                - <a ng-click="deleteRelation(relation.label, conceptRelation.source.id, conceptRelation.target.id)">Delete</a>
            </div>
        </div>
    </div>

    <form class="form" ng-show="canAddRelation" ng-submit="submitNewRelation()">
        <div class="form-field">
            <div class="form-group">
                <h3 class="form-field__legend--single">Add a new relation:</h3>
            </div>
            <div class="form-group highlight">
                <div class="form-group__label">
                    <label for="source">
                        Source
                    </label>
                </div>
                <div class="form-group__input">
                    <select
                            id="source"
                            name="source"
                            ng-model="relation.source"
                            ng-options="concept.id as concept.label for concept in concepts"></select>
                </div>
            </div>
            <div class="form-group highlight">
                <div class="form-group__label">
                    <label for="target">
                        Target
                    </label>
                </div>
                <div class="form-group__input">
                    <select
                            id="target"
                            name="target"
                            ng-model="relation.target"
                            ng-options="concept.id as concept.label for concept in concepts"></select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="form-submit">Add new relation</button>
            </div>
        </div>
    </form>
</div>