<div class="form-field">
    <div class="form-field__legend--single">
        <a href="{{ back_url }}">Go back</a>
    </div>
</div>

<div ng-show="!isShowingRelation()">
    <div class="form-field">
        <div class="form-field__legend--single">
            <h2>{{ message }}</h2>
        </div>
    </div>
</div>

<div ng-show="isShowingRelation()" class="form">
    <div class="form-field">
        <div class="form-field__legend--single">
            <h2>{{ relation.label }}</h2>
            - <a href="#/relation/{{relation.label}}/edit">Edit</a>
            - <a href="#/relation/{{relation.label}}/delete">Delete</a>
        </div>
    </div>

    <div class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend--single">Existing relations :</h3>
        </div>
        <div ng-repeat="conceptRelation in conceptRelations" class="form-group highlight">
            <div class="form-field__legend--single">
                {{ parameter.reference }}: {{parameter.type}}
            </div>
        </div>
    </div>
</div>