<div class="tile-info">
    <div class="way">
        <a href="/graph">Go the the Graph Editor</a>
    </div>
</div>

<div class="tile-info" ng-show="!isTileSelected">
    <div class="tile-info-title">
        <h2>No tile selected</h2>
        <a href="#/instance/new">Add an instance</a>
    </div>
</div>

<div class="tile-info loading" ng-show="loadingTile">
    Loading...
</div>

<div class="tile-info" ng-show="isTileSelected">
    <div class="tile-info-title">
        <h2>Selected Tile : {{ tile.x }}, {{ tile.y }}</h2>
        <a href="#/instance/new/{{ tile.x }}/{{ tile.y }}">Add an instance</a>
    </div>

    <ul>
        <li ng-repeat="(instanceId, instance) in instances">
            <div class="instance-list">
                <a class="instance-item instance-title" ng-click="selectInstance(instanceId)">{{ instance.label }} {{ instance.id }}</a>
                <a class="instance-item" href="#/instance/{{ instance.id }}">Edit</a>
                <a class="instance-item" ng-click="deleteInstance(instanceId)">Remove</a>
            </div>
            <div class="instance-info" ng-show="selectedInstance == instanceId">
                <div class="loading" ng-show="loadingActions == instanceId">
                    Loading...
                </div>
                <ul ng-show="loadingActions != instanceId" class="instance-info">
                    <li ng-show="actions[instanceId].length == 0" class="no-item">No actions</li>
                    <li ng-repeat="(actionId, action) in actions[instanceId]" class="item">
                        <a ng-click="selectAction(actionId)">{{ action.label }}</a>
                        <div class="choose-instance" ng-show="selectedAction == actionId">
                            <div class="loading" ng-show="loadingChoice">
                                Loading...
                            </div>
                            <div class="" ng-show="showChoice">
                                <ul>
                                    <li ng-repeat="choice in choices">
                                        <a ng-click="sendAction(instance.id, actionId, choice.id)"
                                           ng-mouseenter="highlightInstance(choice.id, true)"
                                           ng-mouseleave="highlightInstance(choice.id, false)" >
                                            {{ choice.label }} ({{ choice.coordinates.x}}, {{ choice.coordinates.y}})
                                        </a>
                                    </li>
                                    <li ng-show="choices.length == 0">No instance</li>
                                </ul>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>