<a href="{{ back_url }}">Go back</a>

<form class="form">
    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend--single">General</h3>
        </div>
        <div class="form-group highlight">
            <label class="form-group__label" for="node_name">Name:</label>
            <div class="form-group__input">
                <input type="text" id="node_name" name="node_name" ng-model="node.label" />
            </div>
        </div>
    </fieldset>

    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend">Properties</h3>
            <p class="form-field__description">Information that needs to be provided to its instance</p>
        </div>
        <div class="form-group highlight" ng-repeat="property in node.properties track by $index">
            <div class="form-group">
                <label class="form-group__label" for="node_{{$index}}_property">Property:</label>
                <div class="form-group__input">
                    <select
                        id="node_{{$index}}_property"
                        name="node_{{$index}}_property"
                        ng-model="node.properties[$index]"
                        ng-options="prop as prop.label for prop in properties">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group__input remove">
                    <button type="button" ng-click="removeProperty($index)">Remove</button>
                </div>
            </div>
        </div>
        <div class="form-group form-add">
            <button type="button" ng-click="addProperty()">Add a property</button>
        </div>
    </fieldset>

    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend">Rules</h3>
            <p class="form-field__description">Information that needs to be provided to its instance</p>
        </div>
        <div class="form-group highlight" ng-repeat="rule in node.rules track by $index">
            <div class="form-group">
                <label class="form-group__label" for="rules_{{$index}}_property">Property:</label>
                <div class="form-group__input">
                    <select
                            id="rules_{{$index}}_property"
                            name="rules_{{$index}}_property"
                            ng-model="node.rules[$index].property"
                            ng-change="newRuleType($index)"
                            ng-options="prop as prop.label for prop in properties">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="rules_{{$index}}_value">Value:</label>
                <div class="form-group__input">
                    <input type="number" id="rules_{{$index}}_value" name="rules_{{$index}}_value" ng-model="node.rules[$index].value" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group__input remove">
                    <button type="button" ng-click="removeRule($index)">Remove</button>
                </div>
            </div>
        </div>
        <div class="form-group form-add">
            <button type="button" ng-click="addRule()">Add a rule</button>
        </div>
    </fieldset>

    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend">Display</h3>
            <p class="form-field__description">Information that needs to be provided to its instance</p>
        </div>
        <div class="form-group highlight">
            <div class="form-group">
                <label class="form-group__label" for="node_color">Color:</label>
                <div class="form-group__input">
                    <input type="text" id="node_color" name="node_color" ng-model="node.displayProperty.color" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-group__label" for="node_zindex">Zindex:</label>
                <div  class="form-group__input">
                    <input type="number" id="node_zindex" name="node_zindex" ng-model="node.displayProperty.zindex" />
                </div>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="form-submit" ng-click="submitNode()">{{ submit_button }}</button>
</form>