<div class="tile-info">
    <div class="tile-info-title">
        <h2>Create a new instance</h2>
    </div>
</div>

<div class="form-field">
    <div class="form-field__legend--single">
        <a href="{{ back_url }}">Go back</a>
    </div>
</div>

<form class="form" ng-submit="submitInstance()">
    <fieldset class="form-field">
        <div class="form-group">
            <h3 class="form-field__legend--single">General</h3>
        </div>
        <div class="form-group highlight">
            <label class="form-group__label" for="instance_name">Concept:</label>
            <div class="form-group__input">
                <select id="instance_concept"
                        ng-model="instance.concept"
                        ng-options="concept as concept.label for concept in concepts"
                        ng-change="refreshProperties()"></select>
            </div>
        </div>
        <div class="form-group highlight">
            <label class="form-group__label" for="instance_name">Name:</label>
            <div class="form-group__input">
                <input type="text" id="instance_name" ng-model="instance.label" />
            </div>
        </div>

        <div class="form-group">
            <h3 class="form-field__legend--single">Position</h3>
        </div>
        <div class="form-group highlight">
            <label class="form-group__label" for="instance_coordX">Coordinate X:</label>
            <div class="form-group__input">
                <input type="text" id="instance_coordX" ng-model="instance.coordinates.x" />
            </div>
        </div>
        <div class="form-group highlight">
            <label class="form-group__label" for="instance_coordY">Coordinate Y:</label>
            <div class="form-group__input">
                <input type="text" id="instance_coordY" ng-model="instance.coordinates.y" />
            </div>
        </div>

        <div class="form-group">
            <h3 class="form-field__legend--single">Properties</h3>
        </div>
        <div class="form-group highlight" ng-repeat="property in instance.properties">
            <label class="form-group__label" for="instance_property">{{ property.property.label }}:</label>
            <div class="form-group__input">
                <input type="text" id="instance_property" ng-model="property.value" />
            </div>
        </div>
    </fieldset>

    <button type="submit" class="form-submit">{{ submit_button }}</button>
</form>