$lightColor: #eeeeee;
$darkColor: #222222;
$linkColor: #acd4e8;
$linkHoverColor: #8aacea;
$linkActiveColor: #f1ffff;


body {
  background-color: $lightColor;
  color: $darkColor;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.graph-container {
  display: table;
  width: 100%;
  height: 100vh;
}

.graph-row {
  display: table-row;
}

.graph-view, .graph-form {
  display: table-cell;
  vertical-align: top;
}

/**
 * Left side : view of the graph and options when displaying view
 */
.graph-view {
  width: 50%;
}

#alchemy {
  height: calc(100vh - 74px);
  overflow: hidden;
  color: red;
}

.view-options {
  padding: 20px;
  background-color: lighten($darkColor, 15);
  color: $lightColor;

  .form, .form-group, .form-label, .form-input {
    display: inline-block;
    height: 20px;
  }
}

/**
 * Right side : Forms and infos about selection
 */
.graph-form {
  position: absolute;
  background-color: lighten($darkColor, 5);
  color: $lightColor;
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
}

@import "form.scss";

.title {
  background-color: lighten($darkColor, 15);
  padding: 15px;
}

svg {
  cursor: grab;
  height: 100%;
  width: 100%;
}

svg:active {
  cursor: grabbing;
}

.edge text {
  fill: #777;
  stroke: none;
  text-anchor: middle;
  font-size: 0.75em;
}

.node text {
  opacity: 0.5;
  fill: #333;
  text-anchor: middle;
}

.node:hover text {
  opacity: 1;
}
