@(action:models.rules.action.Action)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Règle @action.label</title>
</head>
<body>

    <h1>Règle @action.label (ID @action.id)</h1>

    <h2>Paramètres</h2>
    <ul>
        @action.parameters.map { param =>
            <li>@param</li>
        }
    </ul>

    <h2>Préconditions</h2>
    <ul>
        @action.preconditions.map { precond =>
            <li>@precond</li>
        }
    </ul>

    <h2>Contenu</h2>
    <ul>
    @action.subActions.map { action =>
        <li>@action</li>
    }
    </ul>

    <a href="/rules">Retour à la liste</a>

</body>
</html>