<link rel="stylesheet" href="@routes.Assets.at("stylesheets/map.css")" />

<div class="game-container" ng-app="actionManagerApp">
    <div class="game-row">
        <div class="left-panel">
            <div id="pixi" class="map-container"></div>
        </div>
        <div class="right-panel" ng-controller="ActionController">
            <div class="tile-info" ng-show="!isTileSelected">
                No tile selected
            </div>
            <div class="tile-info" ng-show="isTileSelected">
                <div>Selected Tile : {{ tile.x }}, {{ tile.y }}</div>
                <ul>
                    <li ng-repeat="(id, instance) in instances"><a ng-click="selectInstance(id)">{{ instance.label }}</a></li>
                </ul>
            </div>
            
            <div class="instance-info" ng-show="isInstanceSelected">
                <ul>
                    <li ng-repeat="action in actions">{{ action.label }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="@routes.Assets.at("components/pixi.js/bin/pixi.js")"></script>
<script src="@routes.Assets.at("javascripts/mapScript.js")"></script>
<script src="@routes.Assets.at("components/angular/angular.js")"></script>
<script src="@routes.Assets.at("javascripts/actionScript.js")"></script>
