<div class="content-container" name="relationForm">
    <div class="form-field">
        <div class="form-field__legend--single">
            <h2>Welcome to the properties editor</h2>
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__legend--single">
            <a href="/graph">Go back</a>
        </div>
    </div>

    <div class="form-field">
        <div class="form">
            <div class="form-group__label">
                <a href="#/new">Create a new property</a>
            </div>
            <div class="form-group__input">
                A property helps to define specific information for concepts as rules or for instances as properties
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="form">
            <div class="form-group__label">
                Edit an existing property
            </div>
            <div class="form-group__input">
                <ul>
                    <li ng-repeat="property in properties">
                        <a href="#/{{ property.id }}/edit">{{ property.label }}</a>
                        <a ng-click="deleteProperty(property.id)">Supprimer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="form-group__label--single error">
            {{ error }}
        </div>
    </div>
</div>