<div class="content-container" name="relationForm">
    <div class="form-field">
        <div class="form">
            <div class="form-group__label">
                <a href="#/new">Create a new property</a>
            </div>
            <div class="form-group__input">
                A property sert à je sais pas encore exactement en français alors me demandez pas en anglais...
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="form-group__label--single error">
            {{ error }}
        </div>
    </div>

    <div class="form-field">
        <div class="form">
            <div class="form-group__label">
                Edit an existing property
            </div>
            <div class="form-group__input">
                <ul>
                    <li ng-repeat="property in properties">
                        <a href="#/{{ property.id }}/edit">{{ property.label }}</a>
                        <a ng-click="deleteProperty(property.id)">Supprimer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>